body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}
.document-container {
    width: 75vw;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    overflow: hidden;
}
.button {
    display: inline-block; /* 添加这一行 */
    height: 50px;
    padding: 0 20px; /* 添加这一行 */
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border-radius: 15px;
    transition: transform 0.3s;
}
.button:active {
    transform: scale(0.95);
}
.button:hover {
    transform: scale(1.05);
}

/* 针对小屏幕设备的样式 */
@media (max-width: 600px) {
    .button {
        width: 90%;
    }
}
