body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}
.video-container {
    width: 45vw;
    height: calc(45vw * 6 / 9);
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

/* 针对小屏幕设备的样式 */
@media (max-width: 600px) {
    .video-container {
        width: 90vw;
        height: calc(90vw * 6 / 9);
    }
}
